/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Puedes cambiar esto al color deseado */
    color: #212529;
    padding: 20px;
  }